{% extends "base.html" %}
{% block content %}
<h1>Your Loans</h1>
<table border="1" cellpadding="10" cellspacing="0" style="width: 100%; text-align: left;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Amount ($)</th>
            <th>Term (Weeks)</th>
            <th>State</th>
            <th>Repayments</th>
        </tr>
    </thead>
    <tbody>
        {% for loan in loans %}
        <tr>
            <td>{{ loan.id }}</td>
            <td>{{ loan.amount }}</td>
            <td>{{ loan.term }}</td>
            <td>{{ loan.state }}</td>
            <td>
                <ul>
                    {% for repayment in loan.repayments %}
                    <li>{{ repayment.date }}: {{ repayment.amount }} - {{ repayment.status }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
